h1 {
  text-decoration: underline;
  text-decoration-color: red;
}
#container{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(41, 73, 163);
    padding: 20px;
    white-space: nowrap;
}
.box{
    border: 2px solid rgb(41, 73, 163);
    background-color: cadetblue;
    padding: 10px 30px;
}

@media screen and (max-width:780px){
    #container{
        flex-wrap: wrap;
    }
    .box{
        flex-basis: 18%;
        padding: 20px 30px;
    }
}
