h1 {
  text-decoration: underline;
  text-decoration-color: red;
}
#container{
    display: flex;
    width: 95%;
    margin: auto;
    height: 160px;
    margin-top: 100px;
}
.green{
    background-color: rgb(20, 94, 51);
    flex-basis: 16%;
    border: solid rgb(0, 0, 0) 1px;
}
.yellow{
    background-color: rgb(233, 221, 61);
    flex-basis: 50%;
}
@media screen and (max-width:980px){
    #container{
        flex-wrap: wrap;
        height: 400px;
        justify-content: space-between;
        background-color: rgb(148, 137, 137);
    }
    .green{
        flex-basis: 25%;
    }
    .yellow{
        flex-basis: 100%;
    }
}
