h1 {
  text-decoration: underline;
  text-decoration-color: red;
}
.round{
  margin-top: 1%;
  width: 10%;
  height: 100px;
  background-color: lightgrey;
  border-radius: 50%;
}
.square{
  margin-left: 1%;
  margin-top: 1%;
  width: 75%;
  height: 100px;
  background-color: lightgreen;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
